.detailed-view-container {
    min-height: 100vh;
    max-height: 100vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #828a95;
    font-size: 1.6vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailed-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.bio-container {
    min-height: 40%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-container img {
    height: 40%;
    width: auto;
    align-self: center;
}

.attributes-container {
    min-height: 55%;
    max-height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pokemon-name {
    font-size: 2vmax;
    margin-top: 2%;
}

@media only screen and (max-width: 500px) {
    .detailed-view-container {
        min-height: 75vh;
        max-height: 75vh;
        width: 100vw;
    }

    .bio-container {
        min-height: 50%;
        max-height: 50%;
    }

    .bio-container img {
        height: 15vh;
        width: auto;
        margin-bottom: 2%;
    }

    .pokemon-name {
        font-size: 2.5vmax;
    }
}
