.detailed-view-container {
    min-height: 100vh;
    max-height: 100vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #828a95;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailed-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.bio-container {
    min-height: 45%;
    max-height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-container img {
    height: 50%;
    width: auto;
    align-self: center;
    margin: 2% auto;
}

.attributes-container {
    min-height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pokemon-name {
    font-size: 2rem;
    margin-top: 5%;
}
