.search-inputs {
    display: flex;
    width: 100%;
}

.search-form-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 2vmin;
    padding: 3.3%;
    height: 2vmin;
    width: 400px;
}

.search-icon {
    height: 5.2vmin;
    width: 5.2vmin;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}
.search-icon svg {
    font-size: 3.5vmin;
}

.data-result {
    margin-top: 5px;
    width: 100%;
    height: 20vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5vmin 2.5vmin;
    overflow: hidden;
    overflow-y: auto;
}

.data-result::-webkit-scrollbar {
    display: none;
}

.data-result .data-item {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.pokemon-option {
    font-size: 2.5vmin;
}

.pokemon-option:hover {
    background-color: lightgrey;
}

#clear-btn {
    cursor: pointer;
}
