.search-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(204, 0, 0, 1);
}

.search-input {
    width: 80%;
    height: 40%;
    outline: none;
    padding-left: 1rem;
    font-size: 2vmin;
    border: 0px;
    border-radius: 2rem;
}
