.navigation-bar {
    background-color: #5b6368;
    height: 5%;
    align-items: center;
    display: flex;
}

.arrow-bar {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

.close-btn {
    color: #fff;
    display: flex;
    padding-right: 1%;
    align-items: center;
    width: 10%;
}

.back,
.forward {
    flex: 1;
}

.forward-hidden,
.back-hidden {
    width: 50%;
    visibility: hidden;
}
