@import url("https://fonts.googleapis.com/css2?family=Lato&family=Neucha&family=Raleway&family=Roboto&display=swap");

.App {
    text-align: center;
    display: flex;
    max-height: 100vh;
    text-transform: capitalize;
    font-family: "Lato", "sans-serif";
}

.right-container {
    height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.pokemon-types {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.type-icon {
    border-radius: 10px;
    padding: 3px 6px;
    margin: 1%;
    font-size: 2.5vmin;
    min-width: 75px;
    color: #fff;
}

.navigation-bar {
    background-color: #5b6368;
    display: flex;
    height: 5vh;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .App {
        display: flex;
        flex-direction: column;
    }

    .browse-interface-container {
        min-height: 25vh !important;
        max-height: 25vh !important;
        width: 100vw !important;
        overflow: hidden;
    }

    .all-pokemon::-webkit-scrollbar {
        display: none;
    }

    .all-pokemon {
        min-height: 20vh !important;
        max-height: 20vh !important;
        min-width: 100vw !important;
        overflow-y: hidden;
        display: flex;
    }

    .pokemon-card {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        border: 0.1vmin solid #f7fcff;
        padding-left: 5%;
        /* padding-bottom: 5% !important; */
        height: 20vh !important;
        font-size: 4vmin;
        background-color: #eff8ff;
        min-width: 30vw !important;
    }

    .backing-circle {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 60% !important;
        height: auto;
        border-radius: 50%;
        align-items: center;
        display: flex;
        margin-right: 10%;
    }

    .backing-circle img {
        height: auto;
        width: 100%;
    }

    .search-container {
        height: 5vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(204, 0, 0, 1);
    }

    .detailed-view-container {
        min-height: 75vh !important;
        max-height: 75vh !important;
        width: 100vw !important;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        background-color: #828a95;
        font-size: 1.6vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .detailed-view {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .bio-container {
        min-height: 50% !important;
        max-height: 50% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bio-container img {
        height: 20vh !important;
        width: auto;
        align-self: center;
        margin-bottom: 2%;
    }

    .chart canvas {
        font-size: 1.5vmin !important;
        width: 100% !important;
        height: 100% !important;
    }

    .chart {
        display: flex;
        height: 80%;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .stat-chart {
        width: 80% !important;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;
        margin: 1% auto;
        height: 60%;
        align-items: center;
        justify-content: center;
    }

    .blurb-container {
        max-width: 80% !important;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 2% 2%;
        background-color: rgba(255, 255, 255, 0.8);
        align-items: center;
        font-size: 1vmax;
        text-transform: none;
        max-height: 50%;
    }
}
